/*---------------------------------------PRODUCT SECTION FORMATTING----------------------------------------*/

.section {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 10px 20px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.section .active {
  display: block;
}

.section h1, h2, h3 {
  font-family: "Merriweather", Cambria, serif;
  font-weight: bold;
}

/*-------------------------------------------SEARCH BAR FORMATTING-------------------------------------------*/
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
}

.search-bar input {
  padding: 10px;
  width: 250px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.search-bar select {
  padding: 10px;
  width: 150px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.search-bar button,
.anchor,
.page-button {
  padding: 10px 15px;
  background-color: #3cbf4e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.search-bar button:hover,
.anchor:hover,
.page-button:hover {
  background-color: #45a049;
}

.current-page {
  margin: 5px;
  padding: 8px 12px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
}

.current-page:hover {
  background-color: #ddd;
}

.current-page {
  font-weight: bold;
  background-color: #ccc;
}

/*--------------------------------------PRODUCT CONTAINER FORMATTING----------------------------------------*/
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/*--------------------------------------------PRODUCT CARD FORMATTING----------------------------------------*/
.product-card {
  width: calc(25% - 15px);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-bottom: 15px;
}

.product-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.product-card h3 {
  font-family: Arial, sans-serif;
}

/*---------------------------------------CART PAGE FORMATTING-------------------------------------*/
.quantity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.quantity-button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3cbf4e;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.quantity-button:hover {
  background-color: #45a049;
}

.quantity-display {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  min-width: 40px;
}
