/*--------------------------------------SLIDESHOW FORMATTING-------------------------------------*/
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin-bottom: 0;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  height: 250px;
  cursor: pointer;
  position: absolute;
  top: 1px;
  padding: 10px 15px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.prev {
  left: 2px;
}

.next {
  right: 2px;
}

.prev:active,
.next:active {
  border: 2px solid black;
  box-shadow: 0 0 0 1.5px #ddd;
}

#category.slideShowSection {
  position: relative;
  margin-top: -250px;
  border: none;
  background-color: transparent;
  box-shadow: none;
}
.slideShowCard {
  background-color: transparent;
}
.slideShowCard p{
  gap: 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.slideShowCard h3{
  font-size: 25px;
  font-family: 'Great Vibes', cursive;
  color: #3CBF4E;
}
